* {
  margin: 0;
}
body {
  background-color:gainsboro;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
  color:brown;
}
.app__left {
  flex: 0.9;
}

.app__stats{
  display: flex;
  justify-content: space-evenly;
}
.app__right {
  display: flex;
  flex-direction: column;
}
.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph {
  flex-grow: 1;
}
.app__graphTitle{
  margin-top: 20px;
  margin-bottom: 20px;
}

.MuiCardContent-root:last-child {
  padding-bottom: 25px;
}

.MuiCardContent-root {
  padding: 36px;
}

@media (max-width:990px) {
  .app {
    flex-direction: column;
  }
}